:root{
  --blue: #415870;
  --gold: #CDC28B;
  --white: #f7f8f8;
  --grey: #DBDBDB;

  font-size: 20px;
  font-family: Montserrat, regular;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body{
  background-color: var(--white);
  color: var(--blue);
}

/* -- Navigation thats inst visable before clicking on the burger-bar --*/

.nav__list-container {
  background-color: var(--blue);
  position: fixed;
  width: 100%;
  height: 89%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateX(100%);
  transition: transform 0.5s;
}


.showMenu {
  transform: translateX(0);
}

.closeMenu {
  transform: translateX(2);
  transition: transform 0.5s;
}

.nav__list {
  margin-left: 25px;
}

.nav__list-item {
  font-size: 4rem;
  font-weight: bold;
  list-style: none;
  margin-bottom: 15px;
}

.nav__list-a {
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  list-style: none;
  margin-bottom: 15px;
  text-decoration: none;
}


.nav__list-item--bottom {
  margin-bottom: 25px;
}

.nav__list-a--bottom {
  margin-bottom: 25px;
}

/* -- Navigation --*/
.nav__list-img {
  width: 176px;
  height: 132px;

}
.nav_bar-logo{
  display: flex;
  align-items: center;

}


.nav__navbar {
  background-color: var(--blue);
  width: 100%;
  height: 9rem;
  z-index: 99;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 9rem;
  list-style-type: none;
}

.nav__bar-item {
  font-size: 3.2rem;
}
/*name of  text beside the logo*/
.nav__bar-item_txt{
  font-size: 1.5rem;
  color: var(--white);
}

.nav__icon {
 color: var(--white);
 text-decoration: none;
 cursor: pointer;
 font-size: 2.5rem;
 margin-right: 40px;
}

.nav__icon2 {
  display: none;
  /*visibility: hidden;*/
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  font-size: 2.5rem;
  margin-right: 40px;
}

.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  width: 14rem;
  height: 3.8rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 80px;
  font-size: 2.2rem;
}

/* mouse over link */
a:hover {
  background-color: var(--gold);
}


/* -- Banner --*/

.banner__img{
  width: 100%;
  height: 425px;
  margin-bottom: 20px;
  margin-top: 180px;
  opacity: 0.8;
}


/*-- tekst bokse --*/
.tekstboks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 80px 50px 80px;
}

.tekstboks h1{
  color: var(--blue);
}

.tekstboks p{
  line-height: 1.6;
  font-size: 20px;
}

/*-- Vission mission værdier --*/
.vmv{
  height: auto;
  padding: 50px 80px 50px 80px;
  background-color: var(--blue);
  color: var(--white);
  line-height: 1.6;
}

.vmv p{
  font-size: 15px;
}





/*-- Timeline --*/

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid var(--gold);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  line-height: 1.6;
}

.content p{
  font-size: 20px;
}


/*-- Golden cirkle --*/
.golden-circle{
  text-align: center;
  background-color: var(--gold); /*lav opasity til 33%*/
  padding: 50px 200px 50px 200px;
  font-size: 20px;
  margin-top: 100px;
  line-height: 1.6;
}

/*-- footer--*/
footer{
  height: auto;
  background-color: var(--blue);
}


.container5{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.boksen{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--white);
  margin: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.boksen p{
  font-size: 12px;
}

.boksen .logo-footer{
  width: 176px;
  height: 132px;
}

.tilmeld{
  width: 100%;
  background-color: var(--gold);
  border-radius: 10px;
  font-size: 12px;
}

.cta3{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 25px;
  width: 100%;
  color: #FFF4F4;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.email{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 25px;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 12px;
}
/* footer */
